<div class="flex gap-4 justify-center pt-10">
  <button class="btn btn-info" (click)="get400BadRequest()">400 Bad Request</button>
  <button class="btn btn-dash" (click)="get400ValidationError()">400 Validation Error</button>
  <button class="btn btn-success" (click)="get401Unauthorized()">401 Unauthorized</button>
  <button class="btn btn-neutral" (click)="get404NotFound()">404 Not Found</button>
  <button class="btn btn-error" (click)="get500ServerError()">500 Server Error</button>
</div>


@if (validationErrors().length > 0) {
  <div class="card flex w-1/2 rounded-2xl mt-5 p-3 mx-auto bg-base-100">
    <ul class="flex flex-col gap-1 text-error space-y-2">
      @for (error of validationErrors(); track $index) {
       <li>{{ error }}</li>
      }
    </ul>
  </div>
}